.cart-button{
 height: 48px;
 background-color: rgb(12, 12, 51);
 color: white;
 border-top-left-radius: 5px;
 border-bottom-right-radius: 5px;
}
.cart-input{
    width: 55px;
    height: 48px;
    padding-left: 10px;
}